name: clang-format

on:
  workflow_call:

jobs:
  formatting-check:
    name: Verify Formatting
    runs-on: ubuntu-latest

    strategy:
      matrix:
        path:
          - 'src'
          - 'tests'

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format-20

      - name: Check code formatting
        shell: pwsh
        run: |
          $PSNativeCommandUseErrorActionPreference = $true
          Get-ChildItem -Recurse | `
            where -Property Name -match '^.*\.((((c|C)(c|pp|xx|\+\+)?$)|((h|H)h?(pp|xx|\+\+)?$))|(ino|pde|proto|cu))$' | `
            % { clang-format --style=file --dry-run --Werror $_.FullName }
