name: clang-format

on:
  workflow_call:

jobs:
  formatting-check:
    name: Verify Formatting
    runs-on: ubuntu-latest

    strategy:
      matrix:
        path:
          - 'src'
          - 'tests'

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          persist-credentials: false
      
      - name: Install clang-format
        run: sudo apt-get update && sudo apt-get install -y clang-format-20

      - name: Check code formatting
        run: |
          find tests -name '*.cpp' -o -name '*.hpp' | \
          xargs clang-format-20 --dry-run --Werror